@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat", sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #fff;
$primaryColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
html {
	scroll-behavior: smooth;
}
body {
	background-color: $primaryColor;
	color: $mainColor;
	scroll-behavior: smooth;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.page-hero {
	background-image: url(../img/bg-primary.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	padding-top: 132px;
	@media (max-width: 991.98px) {
		padding-top: 54px;
	}
	@media (max-width: 767.98px) {
		padding-top: 48px;
	}
}

.page-about {
	margin-top: -50px;
	padding-bottom: 16px;
}

.page-services {
	padding-bottom: 48px;
}

.page-price {
	background-image: url(../img/bg-section-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	z-index: -3;
	padding-bottom: 100px;
}

.title {
	font-weight: 700;
	font-size: 33.18px;
	line-height: 40px;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 251, 251, 0.98) 50%, rgba(255, 255, 255, 0.48) 100%);
	display: inline-block;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	@media (max-width: 499.98px) {
		font-size: 22px;
	}
}

.gradient {
	display: inline-block;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 251, 251, 0.98) 50%, rgba(255, 255, 255, 0.48) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

// ==================== HERO SECTION ==============================
.hero {
	// .hero__body
	&__container {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .hero__text

	&__text {
		font-weight: 500;
		font-size: 12px;
		line-height: 17px;
		text-align: center;
		text-transform: uppercase;
		opacity: 0.8;
		padding-bottom: 8px;
		@media (max-width: 479.98px) {
			font-size: 11px;
		}
	}

	// .hero__title

	&__title {
		font-weight: 700;
		font-size: 57.33px;
		line-height: 70px;
		opacity: 0.8;
		text-align: center;
		display: inline-block;
		padding-bottom: 16px;
		@media (max-width: 1040.98px) {
			font-size: 48px;
			line-height: 52px;
		}
		@media (max-width: 767.98px) {
			font-size: 36px;
			line-height: 48px;
		}
		@media (max-width: 499.98px) {
			font-size: 22px;
			line-height: 38px;
		}
	}

	// .hero__description

	&__description {
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		opacity: 0.75;
		text-align: center;
		padding-bottom: 32px;
		@media (max-width: 499.98px) {
			font-size: 16px;
		}
	}

	// .hero__link

	&__link {
		position: relative;
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		color: $mainColor;
		padding: 16px 32px;
		max-height: 53px;
		background: rgba(255, 255, 255, 0.16);
		border-radius: 10px;
		transition: all 0.7s ease-in;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 53px;
			background: rgba(255, 255, 255, 0.3);
			border-radius: 10px;
			transition: all 0.4s ease;
		}
		&:hover::before {
			width: 100%;
			border-radius: 10px;
		}

		@media (max-width: 499.98px) {
			padding: 12px 10px;
			font-size: 14px;
			text-align: center;
		}
		@media (max-width: 369.98px) {
			padding: 12px 5px;
			font-size: 12px;
			text-align: center;
		}
	}
	&__image {
		margin-top: 100px;
		padding-bottom: 32px;
		-webkit-transition: 0.5s ease-in;
		-o-transition: 0.5s ease-in;
		transition: 0.5s ease-in;
		cursor: pointer;
		-webkit-animation: animate-scroll-down-arrows 2s infinite ease-in-out;
		animation: animate-scroll-down-arrows 2s infinite ease-in-out;

		@keyframes animate-scroll-down-arrows {
			0% {
				transform: translateY(-15px);
			}

			100% {
				transform: translateY(0px);
			}
		}
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

// ==================== ABOUT SECTION ==============================
.about {
	// .about__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 992.98px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	// .about__content

	&__content {
		max-width: 630px;
	}

	// .about__title

	&__title {
		display: block;
		padding-bottom: 32px;
	}

	// .about__description

	&__description {
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		opacity: 0.75;
		padding-bottom: 48px;
		@media (max-width: 359.98px) {
			text-align: center;
		}
	}

	&__item {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		opacity: 0.75;
	}

	&__item:not(:last-child) {
		padding-bottom: 8px;
	}

	// .about__image

	&__image {
		width: 445px;
		height: 646px;
		@media (max-width: 1040.98px) {
			width: 330px;
			height: 512px;
		}
		@media (max-width: 359.98px) {
			width: 210px;
			height: 300px;
		}
	}
}

// ==================== SERVICES SECTION ==============================

.services {
	// .services__body
	&__title {
		padding-bottom: 42px;
		@media (max-width: 499.98px) {
			padding-bottom: 32px;
		}
	}

	// .services__content

	&__content {
		flex-direction: row;
	}

	// .services__item

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 24px;
		@media (max-width: 992.98px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item:last-child {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0;
		@media (max-width: 992.98px) {
			justify-content: center;
		}
	}

	// .services__image

	&__image {
		width: 443px;
		height: 343px;
		flex: 1 1 auto;
		@media (max-width: 992.98px) {
			flex: 0 1 auto;
		}
		@media (max-width: 499.98px) {
			width: 260px;
			height: 190px;
		}
	}

	&__image img {
		width: 443px;
		height: 343px;
		@media (max-width: 499.98px) {
			width: 260px;
			height: 190px;
		}
	}

	// .services__description

	&__description {
		padding: 0 32px;
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		opacity: 0.75;
		flex: 0 1 60%;
		@media (max-width: 992.98px) {
			flex: 0 1 auto;
		}
		@media (max-width: 499.98px) {
			padding: 12px 0;
			font-size: 16px;
		}
	}
}

// ==================== PRICE SECTION ==============================

.price {
	&__title {
		padding-bottom: 32px;
	}

	// .price__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 132px;
		@media (max-width: 992.98px) {
			flex-wrap: wrap;
		}
		@media (max-width: 767.98px) {
			justify-content: center;
			flex-direction: column;
			padding-bottom: 52px;
		}
		@media (max-width: 359.98px) {
			flex-direction: row;
		}
	}

	// .price__item

	&__item {
		position: relative;
		margin: 15px;
		width: 220px;
		height: 220px;
		border-left: 2px solid rgba(255, 255, 255, 0);
		border-bottom: 2px solid rgba(255, 255, 255, 0);
		border-right: 2px solid rgba(255, 255, 255, 0);
		background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
		border-radius: 10px;
		overflow: hidden !important;
		touch-action: none;
		-ms-touch-action: none;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		z-index: 2;
		@media (max-width: 890.98px) {
			width: 316px;
			height: 230px;
		}

		@media (max-width: 767.98px) {
			margin: 20px 0px;
		}
	}

	// .price__descr

	&__descr {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 20px 10px;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		text-align: center;
		flex: 1 1 auto;
		color: #ffffff;

		&_pay {
			font-weight: 700;
			font-size: 32px;
			line-height: 44px;
			text-align: center;

			color: #000000;
		}
		&_text {
			max-width: 175px;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			text-align: center;

			color: #ffffff;
		}
	}

	// .price__inner

	&__inner {
		// .price__inner_01
		position: absolute;
		width: 230%;
		height: 230%;
		border-radius: 45%;
		touch-action: none;
		-ms-touch-action: none;
		left: -60%;
		-moz-touch-action: none;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 251, 251, 0.98) 50%, rgba(255, 255, 255, 0.48) 100%);
		border-radius: 285px 420px 300px 457px;
		transform: matrix(0.93, 0.42, -0.36, 0.91, 0, 0);
		-webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.48);
		box-shadow: 0 0 20px rgba(255, 255, 255, 0.48);
		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		transform-origin: center;
		-webkit-animation-name: rotate-name;
		-moz-animation-name: rotate-name;
		animation: rotate-name 30s infinite forwards linear;
		z-index: -1;

		&_01 {
			top: 45%;
			@media (max-width: 890.98px) {
				top: 80%;
			}
		}
	}

	// .price__image

	&__image {
		max-width: 348px;
		max-height: 288px;
		@media (max-width: 767.98px) {
			min-height: 50px;
		}
	}

	&__image img {
		width: 348px;
		height: 288px;
		@media (max-width: 767.98px) {
			display: none;
			height: 0;
		}
	}

	&__text {
		text-align: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;

		opacity: 0.75;
	}

	@keyframes rotate-name {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}

// ==================== OTHER SECTION ==============================
.other {
	&__title {
		padding-bottom: 32px;
	}
	&__descr {
		font-weight: 500;
		font-size: 18px;
		line-height: 122%;
		text-align: center;
		opacity: 0.75;
		@media (max-width: 499.98px) {
			font-size: 16px;
		}
	}
}
